*,
::before,
::after {
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: hsl(236, 17%, 10%);
  color: hsl(236, 17%, 90%);
}

a {
  color: hsl(51, 100%, 50%);
  text-decoration: none;
}

code {
  padding: 0.2em 0.4em;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  background-color: hsl(236, 17%, 20%);
  color: white;
  cursor: pointer;
}

.stately {
  border-radius: 8px;
  border: 1px solid hsl(236, 17%, 20%);
  width: 75ch;
  margin: 0 auto;
  pointer-events: none;
}

.editor {
  margin: 48px 0;
}

article {
  width: 1285px;
  max-width: 100%;
  margin: 0 auto;
  padding: 48px;
  /* background-color: hsl(236, 17%, 20%); */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background-color: hsl(51, 100%, 40%);
  border: 1px solid hsl(236, 17%, 20%);
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  color: white;
}

.sp-layout {
  border-radius: 4px !important;
  width: 1280px !important;
  max-width: 100%;
}

header {
  color: white;
  border-bottom: 1px solid hsl(236, 17%, 20%);
  & a {
    color: white;
    text-decoration: none;
  }
}

.site-header {
  padding: 1em;
  width: 100%;
  max-width: 100%;
}

header {
  max-width: 800px;
  margin: 0 auto;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.sp-c-bxeRRt[data-active="true"] {
  border-bottom: 3px solid;
}
