:root {
  --color-primary: hsl(51, 100%, 40%);
  --color-secondary: hsl(236, 17%, 20%);
  --color-tertiary: hsl(236, 17%, 10%);
  --color-text: hsl(236, 17%, 90%);
  --color-link: hsl(51, 100%, 50%);
}

*,
::before,
::after {
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Tekton";
  src: local("Tekton"), url("/tekton.woff") format("woff");
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: var(--color-tertiary);
  color: var(--color-text);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

code {
  padding: 0.2em 0.4em;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  background-color: var(--color-secondary);
  color: white;
  cursor: pointer;
}

h1 {
  font-size: 2em;
  margin: 24px 0 12px;
  font-weight: bold;
}

.page h1 {
  color: var(--color-primary);
  font-family: "Tekton";
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.stately {
  border-radius: 8px;
  border: 1px solid var(--color-secondary);
  width: 75ch;
  margin: 0 auto;
  pointer-events: none;
}

.editor {
  margin: 48px 0;
}

article {
  width: 1285px;
  max-width: 100%;
  margin: 0 auto;
  padding: 48px;
  /* background-color: var(--color-secondary); */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background: var(--color-primary);
  border: 1px solid var(--color-secondary);
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  color: white;
}

.sp-layout {
  border-radius: 4px !important;
  width: 1280px !important;
  max-width: 100%;
}

header {
  color: white;
  border-bottom: 1px solid var(--color-secondary);
  & a {
    color: white;
    text-decoration: none;
  }
}

.site-header {
  padding: 1em;
  width: 100%;
  max-width: 100%;
  & div {
    display: flex;
    width: 800px;
    gap: 1em;
    margin: 0 auto;
    & p {
      font-family: "Tekton";
      font-weight: bold;
      position: relative;
      background: var(--color-primary);
      color: var(--color-secondary);
      height: fit-content;
      left: 50px;
      top: 10px;
      padding: 0 10px;
      &:before {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 25px 50px 25px;
        border-color: transparent transparent var(--color-primary) transparent;
        rotate: 270deg;
        left: -50px;
        top: -12px;
      }
    }
  }
}

.site-footer {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  background: var(--color-secondary);
  position: fixed;
  border-top: 1px solid var(--color-primary);
  & p {
    margin: 8px 24px;
  }
}

header {
  max-width: 800px;
  margin: 0 auto;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
}
.sp-c-bxeRRt[data-active="true"] {
  border-bottom: 3px solid;
  border-radius: 0;
}

ol.table-of-contents {
  padding: 0;
  border: 1px solid var(--color-primary);
  & li {
    background: var(--color-secondary);
    padding: 1rem;
    border-top: 1px solid var(--color-primary);
    list-style-position: inside;
    font-family: "Tekton";
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.5rem;
    &:first-child {
      border-top: none;
    }
    & p {
      color: var(--color-text);
      font-weight: normal;
      font-size: 1rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif;
    }
  }
  & .lesson-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Tekton";
  }
}

.exercise {
  background: var(--color-secondary);
  margin: 0 0 48px;
  padding: 24px;
  border-radius: 0 0 6px 6px;
}
h2 {
  color: var(--color-secondary);
  border-radius: 4px 4px 0 0;
  margin: 48px 0 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 24px;
  background: var(--color-primary);
}

.requirements {
  background: hsl(51 100% 40%/0.15);
  margin: 0;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid var(--color-primary);
}
